@font-face {
    font-family: "Lato Regular";
    src:url("fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Medium";
    src:url("fonts/Lato-Medium.ttf");
}

html {
    visibility: hidden;
}

body {
    font-family: "Lato Regular", serif;
    background-color: #354057;
    color: white
}

#intro-container-div {
    /*border: solid aqua;*/
    width: 50vw;
    /*height: 20vh;*/
    margin-bottom: 20px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
}

#intro-container-div:hover {

}

#self-intro-p {
    padding: 0 20px 0 20px;
    text-align: justify;
    text-justify: inter-word;
}

#projects-container-div {
    flex-direction: row;
    flex-wrap: wrap;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)*/
}

#self-photo-img {
    border-radius: 50%;
    border: solid grey;
    height: 150px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card {
    flex: 40%;
    height: 200px;
    width: 45%;
    /*border: solid hotpink;*/
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 10px;
    background-color: #232A30;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.justified-text {
    text-align: justify;
    text-justify: inter-word;
}

.project-card-skill-list {
    text-align: center;
    display: inline;
    padding-left: 0;
}

.project-card-skill-list-item {
    display: inline-block;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.project-card-skill-list-item:first-child {
    margin-left: 0;
}

.huge-font {
    font-size: 200%;
}

.large-font {
    font-size: 130%;
}

.contact-icon {
    height: 40px;
    margin: 0 10px 0 10px;
}

.contact-icon:hover {
    transform: scale(1.2, 1.2);
}

.project-image-wrapper {
    height: 180px;
    width: 180px;
    border: solid rgba(204, 212, 255, 0.7);
    border-radius: 2px;
    margin-right: 20px;
    overflow: hidden;
    flex: none
}

.project-image {
    height: 180px;
}

.project-card-skill-list-item-java {
    background-color: #B38800
}

.project-card-skill-list-item-javascript {
    background-color: #DB3632
}

.project-card-skill-list-item-react {
    background-color: #2D8AD1
}

.project-card-skill-list-item-android {
    background-color: #849800
}

.project-card-skill-list-item-libgdx {
    background-color: #6C70C3;
}

.project-card-skill-list-item-html {
    background-color: #C94D1C;
}

.project-card-skill-list-item-css {
    background-color: #D23981;
}

.project-card-skill-list-item-javafx {
    background-color: #2F9F97;
}