@font-face {
    font-family: "Lato Regular";
    src:url("fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Medium";
    src:url("fonts/Lato-Medium.ttf");
}

body {
    font-family: "Lato Regular", serif;
}

#intro-container-div {
    /*border: solid aqua;*/
    width: 95vw;
    height: 20vh;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#intro-container-div:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#projects-container-div {
    border: solid aqua;
    width: 95vw;
    flex-direction: column;
}

#self-photo {
    object-fit: cover;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card {
    height: 200px;
    width: 45%;
    border: solid hotpink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-card-skill-list {
    display: inline-block;
}

.project-card-skill-list-item {
    display: inline
}
